*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0b003a;
}

main {
    margin-left: 270px; /* Ajustar este valor para que se ajuste al ancho de tu barra lateral */
    margin-right: 20px;
  }

  /* *Así es como se organiza una barra lateral izquierda* */
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
  }

  .sidebar p{
    top: 20px;
    position: relative;
    text-align: center;
  }

  /* .sidebar .logo{
    margin-bottom: 20px;
  } */

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    line-height: 4.8;
    text-align: center;
  }
  
  li {
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    background-color: #e2e2e2;
  }
  
  /* Parte del Contenido */

  main .ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .marquee{
    *margin-left: 65px;
    font-family: cursive;
    color: white;
  }

  .fa-facebook{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
  }

  .fa-facebook:hover{
    color: dodgerblue;
  }

  .fa-instagram{
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  .fa-instagram:hover{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 100px;
  }

  .contenedor {
    display: flex; 
    align-items: center;
    justify-content: center;
    top: 150px;
    position: relative;
  }
  
  .img {
    margin-right: 20px;
    margin-right: 20px;
    filter: brightness(1.0);
    mix-blend-mode: exclusion;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    margin: 0;
    color: gray;
  }

  .subtitulo{
    width: 500px;
    color: white;
  }
  
@media screen and (min-width: 320px) and (max-width: 425px) {
  .sidebar{
    display: none;
  }
  .show {
    display: block; /* muestra el menú cuando se le agrega la clase "show" */
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    right: 20px;
  }
  .img{
    right: 100px;
    position: relative;
  }
  h1{
    position: relative;
    right: 50px;
  }
  .subtitulo{
    width: 200px;
    right: 100px;
    position: relative;
  }
  .marquee{

  }
}

@media screen and (min-width: 768px) and (max-width: 820px){
  .sidebar{
    display: none;
  }
  .show {
    display: block; /* muestra el menú cuando se le agrega la clase "show" */
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    right: 20px;
    top: 20px;
  }
  .img{
    width: 60%;
    right: 130px;
    top: 150px;
    position: relative;
  }
  h1{
    position: relative;
    left: 30px;
    top: 170px;
    font-size: 55px;
  }
  .subtitulo{
    right: 100px;
    top: 200px;
    font-size: 25px;
    text-align: justify;
    position: relative;
  }
  .marquee{

  }
}
